.link:hover {
    transform: scale(1.2);
    transition: 0.2s;
    margin-right: 3em;
}

.link {
    margin: 1.1em;
    font-size: 1.2em;
}


#git:hover {
    color: #c9510c;
}

#tw:hover {

    color: #1da1f2;
}

#mail:hover {
    color:#dd4b39;
    
}

#ig:hover {
    background: linear-gradient(90deg, #fcaf45 50%, #e1306c 75%, #833ab4 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.fondo {
    background: url('/imgs/fondo5.gif') no-repeat center center fixed;
    position: fixed;
    width: 100%;
    height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: calc(100%+50em);
}

.capa {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}



