@font-face {
    font-family: Barcode;
    src: url(/fonts/Paskowy.ttf);
}

@font-face {
    font-family: TypeWritter;
    src: url(/fonts/dogicapixel.ttf);
}

html,
body {
    height: 100%;
    margin: 0;
    background-color: red;
}



.fondo {
    background: url('/imgs/fondo.gif') no-repeat center center fixed;
    position: fixed;
    width: 100%;
    height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: calc(100%+50px);

}

.capa {
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: greenyellow;
}

.logo {
    font-family: Barcode;
    font-size: 4em;
    float: right;
    margin: 1em;
}

.main {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    height: 100%;
}

.sub{
    font-family: TypeWritter;
    line-height: 5em;
    
    letter-spacing: .3em;
    cursor: pointer;
    margin: 0  3.9em;
}

.header {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    background: rgb(0, 0, 0);
    background: linear-gradient(90deg, black 65%, rgba(0, 0, 0, 0.396) 80%, rgba(0, 0, 0, 0) 100%);
    height: 100%;
    width: 40em
}

.h-element {
    font-family: TypeWritter;
    line-height: 5em;
    
    letter-spacing: .3em;
    cursor: pointer;
    margin: 2rem  3.9em;
}

#arr,
#abj,
#izq,
#der {
    background: greenyellow;
    position: fixed;
}

#izq,
#der {
    top: 0;
    bottom: 0;
    width: 5px;
}

#izq {
    left: 0;
}

#der {
    right: 0;
}

#arr,
#abj {
    left: 0;
    right: 0;
    height: 5px;
}

#arr {
    top: 0;
}

#abj {
    bottom: 0;
}

.h-element:hover {
    animation: glitch 2s  infinite;
    transform: scale(1.1);
    margin-left: 5em;
    transition: .2s;
}

@keyframes glitch {
    0% {
        text-shadow: 1px 0 0 red, -1px 0 0 blue;
    }

    10% {
        text-shadow: -1px 0 0 red, 1px 0 0 blue;
    }

    20% {
        text-shadow: -1px 0 0 red, 1px 0 0 yellow;
    }

    24% {
        text-shadow: -1px 0 0 red, 1px 0 0 blue;
    }

    25% {
        text-shadow: 70px 0 0 red, -70px 0 0 blue;
    }

    26% {
        text-shadow: 0 0 0 red, 0 0 0 blue;
    }

    30% {
        text-shadow: 1px 0 0 blue, -1px 0 0 yellow;
    }

    40% {
        text-shadow: -1px 0 0 blue, 1px 0 0 yellow;
    }

    50% {
        text-shadow: -1px 0 0 red, 1px 0 0 yellow;
    }

    60% {
        text-shadow: -1px 0 0 red, 1px 0 0 blue;
    }

    70% {
        text-shadow: -1px 0 0 red, 1px 0 0 blue;
    }

    80% {
        text-shadow: -1px 0 0 red, 1px 0 0 blue;
    }

    89% {
        text-shadow: -1px 0 0 red, 1px 0 0 yellow;
    }

    90% {
        text-shadow: 60px 0 0 yellow, -60px 0 0 blue;
    }

    91% {
        text-shadow: 0 0 0 yellow, 0 0 0 blue;
    }

    100% {
        text-shadow: -1px 0 0 blue, 1px 0 0 yellow;
    }
}