@font-face {
    font-family: Barcode;
    src: url(/fonts/Paskowy.ttf);
}

@font-face {
    font-family: TypeWritter;
    src: url(/fonts/dogicapixel.ttf);
}

@font-face {
    font-family: sub;
    src: url(/fonts/Bohemian\ Typewriter.ttf);
}

@font-face {
    font-family: icon;
    src: url(/fonts/PixelCharas.ttf);
}

html,
body {
    height: 100%;
    margin: 0;

}

a {
    text-decoration: none;
    color: inherit;
}

.fondo {
    background: url('/imgs/fondo.gif') no-repeat center center fixed;
    position: fixed;
    width: 100%;
    height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: calc(100%+50px);

}

.capa {
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.logo {
    font-family: TypeWritter;
    float: right;
    margin: 1em;
    color: #adff2f;
    display: -webkit-box;
    margin-bottom: 1.2em;
}


.icon {
    font-size: 3em;
    font-family: icon;
    margin-top: 5em;
    cursor: default;
}

.main {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    height: 100%;
}

.text {
    margin-top: 1.001em;
    margin-left: 1.2em;
}

.sub {
    font-size: small;
    color: greenyellow;
    margin-top: 1em;
    margin-bottom: 2em;
}

.header {
    display: flex;
    flex-direction: column;
    padding: 1em;
    background: rgb(0, 0, 0);
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.88) 50%,  rgba(0, 0, 0, 0) 100%);
    /*      background-color: aqua; 
     opacity: .5;  */
    height: 100%;
    width: 35%;
    position: fixed;
    flex: 1;
    width: fit-content;
}

.h-element {
    font-family: TypeWritter;
    font-size: .8em;
    line-height: 2em;
    color: white;
    letter-spacing: .2em;
    margin-left: 3em;
    width: fit-content;
}

.h-element a {
    padding: 20px 0;
}

.off {
    font-size: .8em;
    font-family: TypeWritter;
    line-height: 2em;
    letter-spacing: .2em;
    color: rgb(87, 87, 87);
    text-decoration: line-through;
    cursor: default;
    margin-left: 2em;
    width: fit-content;
}


#arr,
#abj,
#izq,
#der {
    background: greenyellow;
    position: fixed;
}

#izq,
#der {
    top: 0;
    bottom: 0;
    width: 5px;
}

#izq {
    left: 0;
}

#der {
    right: 0;
}

#arr,
#abj {
    left: 0;
    right: 0;
    height: 5px;
}

#arr {
    top: 0;
}

#abj {
    bottom: 0;
}

.h-element>a:hover {
    animation: glitch 2s infinite;
    transform: scale(1.1);
    margin-left: 2em;
    transition: .2s;
}

@keyframes glitch {
    0% {
        text-shadow: 2px 0 0 rgb(14, 81, 250), -2px 0 0 red;
    }

    10% {
        text-shadow: -2px 0 0 rgb(14, 81, 250), 2px 0 0 red;
    }

    20% {
        text-shadow: -2px 0 0 rgb(14, 81, 250), 2px 0 0 green;
    }

    24% {
        text-shadow: -2px 0 0 rgb(14, 81, 250), 2px 0 0 red;
    }

    25% {
        text-shadow: 70px 0 0 rgb(14, 81, 250), -70px 0 0 red;
    }

    26% {
        text-shadow: 0 0 0 rgb(14, 81, 250), 0 0 0 red;
    }

    30% {
        text-shadow: 2px 0 0 red, -2px 0 0 green;
    }

    40% {
        text-shadow: -2px 0 0 red, 2px 0 0 green;
    }

    50% {
        text-shadow: -2px 0 0 rgb(14, 81, 250), 2px 0 0 green;
    }

    60% {
        text-shadow: -2px 0 0 rgb(14, 81, 250), 2px 0 0 red;
    }

    70% {
        text-shadow: -2px 0 0 rgb(14, 81, 250), 2px 0 0 red;
    }

    80% {
        text-shadow: -2px 0 0 rgb(14, 81, 250), 2px 0 0 red;
    }

    89% {
        text-shadow: -2px 0 0 rgb(14, 81, 250), 2px 0 0 green;
    }

    90% {
        text-shadow: 60px 0 0 green, -60px 0 0 red;
    }

    91% {
        text-shadow: 0 0 0 green, 0 0 0 red;
    }

    100% {
        text-shadow: -1px 0 0 red, 1px 0 0 green;
    }
}

.desc {
    color: white;
    font-family: TypeWritter;
    line-height: 3em;
    font-size: medium;
    bottom: 0;
    right: 0;
    margin: 3em;
    text-align: end;
    display: flex;
    flex-direction: column;
    position: absolute;
}

.h-element>a>i,
.off>i {
    margin-right: 10px;
    visibility: hidden;
}

.h-element:hover>a>i {
    visibility: visible;
}


.header {
    animation-name: loadbg;
    animation-duration: .5s;
    z-index: 9;
}

@keyframes loadbg {
    0% {
        width: 150%;
        background-color: black;
    }


    100% {
        width: 35%;

    }
}

@keyframes unload {
    0% {
        width: 35%;
    }

    100% {
        width: 150%;
        background-color: black;
    }
}

.elements {
    height: 70%;
    margin-top: auto;
    display: grid;
}



.content {
    color: white;
    align-items: center;
}

.uwu {
    width: 90%;
    font-family: TypeWritter;
/*     background-color: blueviolet; */
    height: 100%;
    right: 0;
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: column;
}

